:root{
  --normal-font: 16px;
  --box: 0 0 1px black;
  --spacing: 35px 50px;
  --primary-Cyan: #2ab2af;
  --primary-Yellow: #c0df34;
  --neutral-LightG: #e5eff5;
  --neutral-GrayishB: #98a6bd;
}

html, body{
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  background-color: #e5eff5;
  margin: 0;
}

h2{
  font-size: 1.2em;
}


.container{
  display: grid;
  max-width: 800px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "info info" "price highlight";
  align-items: center;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px #98a6bd;
  border-radius: 12px;
  overflow: hidden;
}


.main-info{
  grid-area: info; 
  padding: var(--spacing);
  color: var(--neutral-GrayishB);
  background-color: white;
  height: 100%;
  box-sizing: border-box;
}

.main-info h1{
  color: var(--primary-Cyan);
  font-size: 1.6em;
}

.main-info h2{
  color: var(--primary-Yellow);
}

.main-info p{
  line-height: 1.5em;
}


.price-info{
  grid-area: price;
  padding: var(--spacing);
  background-color: var(--primary-Cyan);
  color: var(--neutral-LightG);
  height: 100%;
  box-sizing: border-box;
}

.price-info div{
  display: flex;
}

.price-info .price{
  font-size: 35px;
  font-weight: 700;
  margin: 0 10px 0 0;
}

.price-info div>p{
  color: #44CCC9;
}

button{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  background-color: var(--primary-Yellow);
  color:var(--neutral-LightG);
  font-size: var(--normal-font);
  border-radius: 5px;
  border: none;
  margin-top: 40px;
  box-shadow: 1px 1px 10px #98a6bd;
  cursor: pointer;
}


.highlight-info{
  grid-area: highlight;
  padding: var(--spacing);
  background-color: #44CCC9;
  color: var(--neutral-LightG);
  height: 100%;
  box-sizing: border-box;
}

.highlight-info ul{
  list-style: none;
  padding-inline-start: 0;
  line-height: 1.5;
}


.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: var(--primary-Cyan); 
}


@media screen and (max-width: 375px){
   .container{
    grid-template-columns: 1fr;
    grid-template-areas: "info" "price" "highlight";
    width: 350px;
    margin: 0 auto;
  }

  .main-info, .price-info, .highlight-info{
    padding: 10px 30px;
  }

  button{
    margin: 20px 0;
  }
}